# Flight Price Prediction

In [1]:
import pandas as pd

In [2]:
# load the dataset

df = pd.read_excel("C:/Users/Admin/OneDrive/Documents/Flight ML project/Flight_Price.xlsx")

In [3]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR ? DEL,22:20:00,2025-03-22 01:10:00,2h 50m,non-stop,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50:00,13:15:00,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25:00,2025-06-10 04:25:00,19h,2 stops,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU ? NAG ? BLR,18:05:00,23:30:00,5h 25m,1 stop,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR ? NAG ? DEL,16:50:00,21:35:00,4h 45m,1 stop,No info,13302

In [4]:
# checking for null values

df.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [5]:
# dropping null values

df.dropna(inplace = True)

In [6]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR ? DEL,22:20:00,2025-03-22 01:10:00,2h 50m,non-stop,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50:00,13:15:00,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25:00,2025-06-10 04:25:00,19h,2 stops,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU ? NAG ? BLR,18:05:00,23:30:00,5h 25m,1 stop,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR ? NAG ? DEL,16:50:00,21:35:00,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU ? BLR,19:55:00,22:25:00,2h 30m,non-stop,No info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,CCU ? BLR,20:45:00,23:20:00,2h 35m,non-stop,No info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR ? DEL,08:20:00,11:20:00,3h,non-stop,No info,7229
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR ? DEL,11:30:00,14:10:00,2h 40m,non-stop,No info,12648
10682,Air India,2019-05-09,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55:00,19:15:00,8h 20m,2 stops,No info,11753

In [7]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [8]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [9]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [10]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [11]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [12]:
df['Additional_Info'] = df['Additional_Info'].replace('No Info', 'No info')

In [13]:
# replacing '?' with '-'

df['Route'] = df['Route'].str.replace('?', '-')

In [14]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR - DEL,22:20:00,2025-03-22 01:10:00,2h 50m,non-stop,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,CCU - IXR - BBI - BLR,05:50:00,13:15:00,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL - LKO - BOM - COK,09:25:00,2025-06-10 04:25:00,19h,2 stops,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU - NAG - BLR,18:05:00,23:30:00,5h 25m,1 stop,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR - NAG - DEL,16:50:00,21:35:00,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU - BLR,19:55:00,22:25:00,2h 30m,non-stop,No info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,CCU - BLR,20:45:00,23:20:00,2h 35m,non-stop,No info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR - DEL,08:20:00,11:20:00,3h,non-stop,No info,7229
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR - DEL,11:30:00,14:10:00,2h 40m,non-stop,No info,12648
10682,Air India,2019-05-09,Delhi,Cochin,DEL - GOI - BOM - COK,10:55:00,19:15:00,8h 20m,2 stops,No info,11753

In [15]:
df.duplicated().sum()

220

In [16]:
# dropping the duplicate values

df = df.drop_duplicates()

In [17]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR - DEL,22:20:00,2025-03-22 01:10:00,2h 50m,non-stop,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,CCU - IXR - BBI - BLR,05:50:00,13:15:00,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL - LKO - BOM - COK,09:25:00,2025-06-10 04:25:00,19h,2 stops,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU - NAG - BLR,18:05:00,23:30:00,5h 25m,1 stop,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR - NAG - DEL,16:50:00,21:35:00,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU - BLR,19:55:00,22:25:00,2h 30m,non-stop,No info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,CCU - BLR,20:45:00,23:20:00,2h 35m,non-stop,No info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR - DEL,08:20:00,11:20:00,3h,non-stop,No info,7229
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR - DEL,11:30:00,14:10:00,2h 40m,non-stop,No info,12648
10682,Air India,2019-05-09,Delhi,Cochin,DEL - GOI - BOM - COK,10:55:00,19:15:00,8h 20m,2 stops,No info,11753

In [18]:
pd.options.mode.chained_assignment = None

df["Date_of_Journey"] = pd.to_datetime(df["Date_of_Journey"])

df['Year'] = df["Date_of_Journey"].dt.year

In [19]:
pd.options.mode.chained_assignment = None

df["Date_of_Journey"] = pd.to_datetime(df["Date_of_Journey"])

df['Month'] = df["Date_of_Journey"].dt.month

In [20]:
pd.options.mode.chained_assignment = None

df["Date_of_Journey"] = pd.to_datetime(df["Date_of_Journey"])

df['Day'] = df["Date_of_Journey"].dt.day

In [21]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Year,Month,Day
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR - DEL,22:20:00,2025-03-22 01:10:00,2h 50m,non-stop,No info,3897,2019,3,24
1,Air India,2019-05-01,Kolkata,Banglore,CCU - IXR - BBI - BLR,05:50:00,13:15:00,7h 25m,2 stops,No info,7662,2019,5,1
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL - LKO - BOM - COK,09:25:00,2025-06-10 04:25:00,19h,2 stops,No info,13882,2019,6,9
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU - NAG - BLR,18:05:00,23:30:00,5h 25m,1 stop,No info,6218,2019,5,12
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR - NAG - DEL,16:50:00,21:35:00,4h 45m,1 stop,No info,13302,2019,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU - BLR,19:55:00,22:25:00,2h 30m,non-stop,No info,4107,2019,4,9
10679,Air India,2019-04-27,Kolkata,Banglore,CCU - BLR,20:45:00,23:20:00,2h 35m,non-stop,No info,4145,2019,4,27
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR - DEL,08:20:00,11:20:00,3h,non-stop,No info,7229,2019,4,27
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR - DEL,11:30:00,14:10:00,2h 40m,non-stop,No info,12648,2019,3,1
10682,Air India,2019-05-09,Delhi,Cochin,DEL - GOI - BOM - COK,10:55:00,19:15:00,8h 20m,2 stops,No info,11753,2019,5,9

In [22]:
df.drop(["Date_of_Journey"], axis = 1,  inplace = True)

In [23]:
df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Year,Month,Day
0,IndiGo,Banglore,New Delhi,BLR - DEL,22:20:00,2025-03-22 01:10:00,2h 50m,non-stop,No info,3897,2019,3,24
1,Air India,Kolkata,Banglore,CCU - IXR - BBI - BLR,05:50:00,13:15:00,7h 25m,2 stops,No info,7662,2019,5,1
2,Jet Airways,Delhi,Cochin,DEL - LKO - BOM - COK,09:25:00,2025-06-10 04:25:00,19h,2 stops,No info,13882,2019,6,9
3,IndiGo,Kolkata,Banglore,CCU - NAG - BLR,18:05:00,23:30:00,5h 25m,1 stop,No info,6218,2019,5,12
4,IndiGo,Banglore,New Delhi,BLR - NAG - DEL,16:50:00,21:35:00,4h 45m,1 stop,No info,13302,2019,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU - BLR,19:55:00,22:25:00,2h 30m,non-stop,No info,4107,2019,4,9
10679,Air India,Kolkata,Banglore,CCU - BLR,20:45:00,23:20:00,2h 35m,non-stop,No info,4145,2019,4,27
10680,Jet Airways,Banglore,Delhi,BLR - DEL,08:20:00,11:20:00,3h,non-stop,No info,7229,2019,4,27
10681,Vistara,Banglore,New Delhi,BLR - DEL,11:30:00,14:10:00,2h 40m,non-stop,No info,12648,2019,3,1
10682,Air India,Delhi,Cochin,DEL - GOI - BOM - COK,10:55:00,19:15:00,8h 20m,2 stops,No info,11753,2019,5,9

In [24]:
df["Duration_Hours"] = df["Duration"].str.extract(r'(\d+)h').fillna(0).astype(int)
df["Duration_Min"] = df["Duration"].str.extract(r'(\d+)m').fillna(0).astype(int)

df.drop(["Duration"], axis = 1, inplace = True)

In [25]:
df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Total_Stops,Additional_Info,Price,Year,Month,Day,Duration_Hours,Duration_Min
0,IndiGo,Banglore,New Delhi,BLR - DEL,22:20:00,2025-03-22 01:10:00,non-stop,No info,3897,2019,3,24,2,50
1,Air India,Kolkata,Banglore,CCU - IXR - BBI - BLR,05:50:00,13:15:00,2 stops,No info,7662,2019,5,1,7,25
2,Jet Airways,Delhi,Cochin,DEL - LKO - BOM - COK,09:25:00,2025-06-10 04:25:00,2 stops,No info,13882,2019,6,9,19,0
3,IndiGo,Kolkata,Banglore,CCU - NAG - BLR,18:05:00,23:30:00,1 stop,No info,6218,2019,5,12,5,25
4,IndiGo,Banglore,New Delhi,BLR - NAG - DEL,16:50:00,21:35:00,1 stop,No info,13302,2019,3,1,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU - BLR,19:55:00,22:25:00,non-stop,No info,4107,2019,4,9,2,30
10679,Air India,Kolkata,Banglore,CCU - BLR,20:45:00,23:20:00,non-stop,No info,4145,2019,4,27,2,35
10680,Jet Airways,Banglore,Delhi,BLR - DEL,08:20:00,11:20:00,non-stop,No info,7229,2019,4,27,3,0
10681,Vistara,Banglore,New Delhi,BLR - DEL,11:30:00,14:10:00,non-stop,No info,12648,2019,3,1,2,40
10682,Air India,Delhi,Cochin,DEL - GOI - BOM - COK,10:55:00,19:15:00,2 stops,No info,11753,2019,5,9,8,20

In [26]:
df["Dep_Hour"] =  df["Dep_Time"].astype(str).str.split(":").str[0].astype(int)
df["Dep_Min"] =  df["Dep_Time"].astype(str).str.split(":").str[1].astype(int)

df.drop(["Dep_Time"], axis = 1, inplace = True)

df

,Airline,Source,Destination,Route,Arrival_Time,Total_Stops,Additional_Info,Price,Year,Month,Day,Duration_Hours,Duration_Min,Dep_Hour,Dep_Min
0,IndiGo,Banglore,New Delhi,BLR - DEL,2025-03-22 01:10:00,non-stop,No info,3897,2019,3,24,2,50,22,20
1,Air India,Kolkata,Banglore,CCU - IXR - BBI - BLR,13:15:00,2 stops,No info,7662,2019,5,1,7,25,5,50
2,Jet Airways,Delhi,Cochin,DEL - LKO - BOM - COK,2025-06-10 04:25:00,2 stops,No info,13882,2019,6,9,19,0,9,25
3,IndiGo,Kolkata,Banglore,CCU - NAG - BLR,23:30:00,1 stop,No info,6218,2019,5,12,5,25,18,5
4,IndiGo,Banglore,New Delhi,BLR - NAG - DEL,21:35:00,1 stop,No info,13302,2019,3,1,4,45,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU - BLR,22:25:00,non-stop,No info,4107,2019,4,9,2,30,19,55
10679,Air India,Kolkata,Banglore,CCU - BLR,23:20:00,non-stop,No info,4145,2019,4,27,2,35,20,45
10680,Jet Airways,Banglore,Delhi,BLR - DEL,11:20:00,non-stop,No info,7229,2019,4,27,3,0,8,20
10681,Vistara,Banglore,New Delhi,BLR - DEL,14:10:00,non-stop,No info,12648,2019,3,1,2,40,11,30
10682,Air India,Delhi,Cochin,DEL - GOI - BOM - COK,19:15:00,2 stops,No info,11753,2019,5,9,8,20,10,55

In [27]:
df["Arrival_Time"] = df["Arrival_Time"].astype(str)

df["Extracted_Time"] = df["Arrival_Time"].str.extract(r"(\d{1,2}:\d{2})")


df["Arrival_Hour"] = df["Extracted_Time"].str.split(":").str[0].astype(int)
df["Arrival_Min"] = df["Extracted_Time"].str.split(":").str[1].astype(int)

df = df.drop(columns = ["Arrival_Time"])
df

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Year,Month,Day,Duration_Hours,Duration_Min,Dep_Hour,Dep_Min,Extracted_Time,Arrival_Hour,Arrival_Min
0,IndiGo,Banglore,New Delhi,BLR - DEL,non-stop,No info,3897,2019,3,24,2,50,22,20,01:10,1,10
1,Air India,Kolkata,Banglore,CCU - IXR - BBI - BLR,2 stops,No info,7662,2019,5,1,7,25,5,50,13:15,13,15
2,Jet Airways,Delhi,Cochin,DEL - LKO - BOM - COK,2 stops,No info,13882,2019,6,9,19,0,9,25,04:25,4,25
3,IndiGo,Kolkata,Banglore,CCU - NAG - BLR,1 stop,No info,6218,2019,5,12,5,25,18,5,23:30,23,30
4,IndiGo,Banglore,New Delhi,BLR - NAG - DEL,1 stop,No info,13302,2019,3,1,4,45,16,50,21:35,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU - BLR,non-stop,No info,4107,2019,4,9,2,30,19,55,22:25,22,25
10679,Air India,Kolkata,Banglore,CCU - BLR,non-stop,No info,4145,2019,4,27,2,35,20,45,23:20,23,20
10680,Jet Airways,Banglore,Delhi,BLR - DEL,non-stop,No info,7229,2019,4,27,3,0,8,20,11:20,11,20
10681,Vistara,Banglore,New Delhi,BLR - DEL,non-stop,No info,12648,2019,3,1,2,40,11,30,14:10,14,10
10682,Air India,Delhi,Cochin,DEL - GOI - BOM - COK,2 stops,No info,11753,2019,5,9,8,20,10,55,19:15,19,15

In [28]:
df = df.drop(["Extracted_Time"], axis = 1)
df

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Year,Month,Day,Duration_Hours,Duration_Min,Dep_Hour,Dep_Min,Arrival_Hour,Arrival_Min
0,IndiGo,Banglore,New Delhi,BLR - DEL,non-stop,No info,3897,2019,3,24,2,50,22,20,1,10
1,Air India,Kolkata,Banglore,CCU - IXR - BBI - BLR,2 stops,No info,7662,2019,5,1,7,25,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL - LKO - BOM - COK,2 stops,No info,13882,2019,6,9,19,0,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU - NAG - BLR,1 stop,No info,6218,2019,5,12,5,25,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR - NAG - DEL,1 stop,No info,13302,2019,3,1,4,45,16,50,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU - BLR,non-stop,No info,4107,2019,4,9,2,30,19,55,22,25
10679,Air India,Kolkata,Banglore,CCU - BLR,non-stop,No info,4145,2019,4,27,2,35,20,45,23,20
10680,Jet Airways,Banglore,Delhi,BLR - DEL,non-stop,No info,7229,2019,4,27,3,0,8,20,11,20
10681,Vistara,Banglore,New Delhi,BLR - DEL,non-stop,No info,12648,2019,3,1,2,40,11,30,14,10
10682,Air India,Delhi,Cochin,DEL - GOI - BOM - COK,2 stops,No info,11753,2019,5,9,8,20,10,55,19,15

In [29]:
df['Total_Stops'] = df['Total_Stops'].replace({
    "non-stop": 0,
    "1 stop": 1,
    "2 stops": 2,
    "3 stops": 3,
    "4 stops": 4
})

df

C:\Users\Admin\AppData\Local\Temp\ipykernel_26396\3205060208.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Total_Stops'] = df['Total_Stops'].replace({

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Year,Month,Day,Duration_Hours,Duration_Min,Dep_Hour,Dep_Min,Arrival_Hour,Arrival_Min
0,IndiGo,Banglore,New Delhi,BLR - DEL,0,No info,3897,2019,3,24,2,50,22,20,1,10
1,Air India,Kolkata,Banglore,CCU - IXR - BBI - BLR,2,No info,7662,2019,5,1,7,25,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL - LKO - BOM - COK,2,No info,13882,2019,6,9,19,0,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU - NAG - BLR,1,No info,6218,2019,5,12,5,25,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR - NAG - DEL,1,No info,13302,2019,3,1,4,45,16,50,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU - BLR,0,No info,4107,2019,4,9,2,30,19,55,22,25
10679,Air India,Kolkata,Banglore,CCU - BLR,0,No info,4145,2019,4,27,2,35,20,45,23,20
10680,Jet Airways,Banglore,Delhi,BLR - DEL,0,No info,7229,2019,4,27,3,0,8,20,11,20
10681,Vistara,Banglore,New Delhi,BLR - DEL,0,No info,12648,2019,3,1,2,40,11,30,14,10
10682,Air India,Delhi,Cochin,DEL - GOI - BOM - COK,2,No info,11753,2019,5,9,8,20,10,55,19,15

In [30]:
# Label Encoding 

from sklearn.preprocessing import LabelEncoder

model = LabelEncoder()
df['Route'] = model.fit_transform(df['Route'])

df

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Year,Month,Day,Duration_Hours,Duration_Min,Dep_Hour,Dep_Min,Arrival_Hour,Arrival_Min
0,IndiGo,Banglore,New Delhi,18,0,No info,3897,2019,3,24,2,50,22,20,1,10
1,Air India,Kolkata,Banglore,84,2,No info,7662,2019,5,1,7,25,5,50,13,15
2,Jet Airways,Delhi,Cochin,118,2,No info,13882,2019,6,9,19,0,9,25,4,25
3,IndiGo,Kolkata,Banglore,91,1,No info,6218,2019,5,12,5,25,18,5,23,30
4,IndiGo,Banglore,New Delhi,29,1,No info,13302,2019,3,1,4,45,16,50,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,64,0,No info,4107,2019,4,9,2,30,19,55,22,25
10679,Air India,Kolkata,Banglore,64,0,No info,4145,2019,4,27,2,35,20,45,23,20
10680,Jet Airways,Banglore,Delhi,18,0,No info,7229,2019,4,27,3,0,8,20,11,20
10681,Vistara,Banglore,New Delhi,18,0,No info,12648,2019,3,1,2,40,11,30,14,10
10682,Air India,Delhi,Cochin,108,2,No info,11753,2019,5,9,8,20,10,55,19,15

In [31]:
# One-Hot Encoding 

df = pd.get_dummies(df, columns = ['Airline', 'Source', 'Destination', 'Additional_Info'], dtype = 'int')
df

,Route,Total_Stops,Price,Year,Month,Day,Duration_Hours,Duration_Min,Dep_Hour,Dep_Min,...,Destination_New Delhi,Additional_Info_1 Long layover,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,18,0,3897,2019,3,24,2,50,22,20,...,1,0,0,0,0,0,0,0,1,0
1,84,2,7662,2019,5,1,7,25,5,50,...,0,0,0,0,0,0,0,0,1,0
2,118,2,13882,2019,6,9,19,0,9,25,...,0,0,0,0,0,0,0,0,1,0
3,91,1,6218,2019,5,12,5,25,18,5,...,0,0,0,0,0,0,0,0,1,0
4,29,1,13302,2019,3,1,4,45,16,50,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,64,0,4107,2019,4,9,2,30,19,55,...,0,0,0,0,0,0,0,0,1,0
10679,64,0,4145,2019,4,27,2,35,20,45,...,0,0,0,0,0,0,0,0,1,0
10680,18,0,7229,2019,4,27,3,0,8,20,...,0,0,0,0,0,0,0,0,1,0
10681,18,0,12648,2019,3,1,2,40,11,30,...,1,0,0,0,0,0,0,0,1,0
10682,108,2,11753,2019,5,9,8,20,10,55,...,0,0,0,0,0,0,0,0,1,0

In [32]:
df['Price_per_Min'] = df['Price']/((df['Duration_Hours']*60) + df['Duration_Min'])

df

,Route,Total_Stops,Price,Year,Month,Day,Duration_Hours,Duration_Min,Dep_Hour,Dep_Min,...,Additional_Info_1 Long layover,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight,Price_per_Min
0,18,0,3897,2019,3,24,2,50,22,20,...,0,0,0,0,0,0,0,1,0,22.923529
1,84,2,7662,2019,5,1,7,25,5,50,...,0,0,0,0,0,0,0,1,0,17.217978
2,118,2,13882,2019,6,9,19,0,9,25,...,0,0,0,0,0,0,0,1,0,12.177193
3,91,1,6218,2019,5,12,5,25,18,5,...,0,0,0,0,0,0,0,1,0,19.132308
4,29,1,13302,2019,3,1,4,45,16,50,...,0,0,0,0,0,0,0,1,0,46.673684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,64,0,4107,2019,4,9,2,30,19,55,...,0,0,0,0,0,0,0,1,0,27.380000
10679,64,0,4145,2019,4,27,2,35,20,45,...,0,0,0,0,0,0,0,1,0,26.741935
10680,18,0,7229,2019,4,27,3,0,8,20,...,0,0,0,0,0,0,0,1,0,40.161111
10681,18,0,12648,2019,3,1,2,40,11,30,...,0,0,0,0,0,0,0,1,0,79.050000
10682,108,2,11753,2019,5,9,8,20,10,55,...,0,0,0,0,0,0,0,1,0,23.506000

In [31]:
csv_path = "C:/Users/Admin/OneDrive/Documents/Flight ML project/flight_prediction_csv.csv"
df.to_csv(csv_path)

# ML

In [33]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, accuracy_score

In [34]:
X = df.drop(['Price'], axis = 1)
y = df['Price']

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [43]:
model_params = {
    "Linear Regression": {
        "model": LinearRegression(),
        "params": {}
    },
    "Random Forest": {
        "model": RandomForestRegressor(random_state=42),
        "params": {"n_estimators": [150], "max_depth": [2, 3, 4, 5, 6, 7, 10, 15], "min_samples_split": [10]}
    },
    "Gradient Boosting": {
        "model": GradientBoostingRegressor(random_state=42),
        "params": {"n_estimators": [150], "learning_rate":[0.1,0.01]}
    },
    "Decision Tree": {
        "model": DecisionTreeRegressor(random_state=42),
        "params": {"max_depth": [2, 3, 4, 5, 6, 7, 10, 15], "min_samples_split": [10]}
    },
    "XGBoost": {
        "model": XGBRegressor(random_state=42, objective="reg:squarederror"),
        "params": {"n_estimators": [150], "learning_rate": [0.1, 0.01]}
    }
}



for name, mp in model_params.items():
    print(f"Training and Tuning Model: {name}")

    # Perform GridSearchCV only if there are parameters to tune
    if mp["params"]:
        grid_search = GridSearchCV(mp["model"], mp["params"], cv=5, scoring="neg_mean_squared_error", n_jobs=-1)
        trained_model = grid_search.fit(X_train, y_train)
        best_model = grid_search.best_estimator_
        print(f"Best Parameters: {grid_search.best_params_}")
    else:
        best_model = mp["model"]
        best_model.fit(X_train, y_train)

    # Predictions
    train_pred = best_model.predict(X_train)
    test_pred = best_model.predict(X_test)


   
    print("******* Train *******")
    print(f"MSE: {mean_squared_error(y_train, train_pred)}")
    print(f"MAE: {mean_absolute_error(y_train, train_pred)}")
    print(f"R2 Score: {r2_score(y_train, train_pred)}")

    print("******* Test *******")
    print(f"MSE: {mean_squared_error(y_test, test_pred)}")
    print(f"MAE: {mean_absolute_error(y_test, test_pred)}")
    print(f"R2 Score: {r2_score(y_test, test_pred)}")
    print("\n")

Training and Tuning Model: Linear Regression
******* Train *******
MSE: 6330890.620743617
MAE: 1719.8951155539376
R2 Score: 0.7075803883802945
******* Test *******
MSE: 6251665.118626586
MAE: 1715.4976713015255
R2 Score: 0.698984613262929


Training and Tuning Model: Random Forest
Best Parameters: {'max_depth': 15, 'min_samples_split': 10, 'n_estimators': 150}
******* Train *******
MSE: 248197.2656605903
MAE: 120.41767420393332
R2 Score: 0.9885359339819051
******* Test *******
MSE: 312979.981518489
MAE: 182.83214752704038
R2 Score: 0.9849301284713653


Training and Tuning Model: Gradient Boosting
Best Parameters: {'learning_rate': 0.1, 'n_estimators': 150}
******* Train *******
MSE: 165433.6104264224
MAE: 285.86376029227125
R2 Score: 0.9923587319687324
******* Test *******
MSE: 288463.0581495428
MAE: 326.64410075498733
R2 Score: 0.9861106093559728


Training and Tuning Model: Decision Tree
Best Parameters: {'max_depth': 15, 'min_samples_split': 10}
******* Train *******
MSE: 184369.70734455643
MAE: 119.5646344620061
R2 Score: 0.9914840862927748
******* Test *******
MSE: 519361.15603679727
MAE: 214.94934163321616
R2 Score: 0.9749929504741333


Training and Tuning Model: XGBoost
Best Parameters: {'learning_rate': 0.1, 'n_estimators': 150}
******* Train *******
MSE: 27143.849609375
MAE: 104.90784454345703
R2 Score: 0.9987462162971497
******* Test *******
MSE: 292161.96875
MAE: 172.18017578125
R2 Score: 0.9859325289726257

In [ ]:
import pickle
filename = f"{name.replace(' ', '_').lower()}_model.pkl"  
with open(filename, "wb") as f:
    pickle.dump(best_model, f)

    print(f" Saved {name} model as {filename}")

 Saved XGBoost model as xgboost_model.pkl

In [ ]:
# X = df.drop(columns=["Price"])
# y = df["Price"]

# Split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Train Random Forest Model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Get Feature Importance
feature_importance = rf_model.feature_importances_
feature_names = X.columns

# Create DataFrame for visualization
importance_df = pd.DataFrame({"Feature": feature_names, "Importance": feature_importance})
importance_df = importance_df.sort_values(by="Importance", ascending=False)

In [127]:
importance_df

                                         Feature    Importance
5                                 Duration_Hours  5.395241e-01
43                                 Price_per_Min  3.349337e-01
39   Additional_Info_In-flight meal not included  2.472538e-02
15                           Airline_Jet Airways  2.332091e-02
1                                    Total_Stops  1.654105e-02
4                                            Day  1.152932e-02
0                                          Route  7.893538e-03
37                Additional_Info_Business class  5.858184e-03
16                  Airline_Jet Airways Business  5.630934e-03
3                                          Month  4.815690e-03
41                       Additional_Info_No info  4.259831e-03
6                                   Duration_Min  3.409508e-03
31                         Destination_Hyderabad  3.073727e-03
27                                 Source_Mumbai  2.839640e-03
9                                   Arrival_Hour  1.942553e-03
7                                       Dep_Hour  1.755285e-03
14                                Airline_IndiGo  1.116468e-03
8                                        Dep_Min  1.095419e-03
10                                   Arrival_Min  1.087221e-03
29                            Destination_Cochin  6.842845e-04
17                     Airline_Multiple carriers  5.996385e-04
25                                  Source_Delhi  5.208258e-04
12                             Airline_Air India  4.223308e-04
21                               Airline_Vistara  4.077763e-04
33                         Destination_New Delhi  3.319188e-04
36                Additional_Info_2 Long layover  3.020327e-04
23                               Source_Banglore  2.930606e-04
26                                Source_Kolkata  2.575781e-04
28                          Destination_Banglore  2.461458e-04
32                           Destination_Kolkata  1.361979e-04
24                                Source_Chennai  1.211541e-04
34                Additional_Info_1 Long layover  8.362037e-05
11                              Airline_Air Asia  7.195697e-05
13                                 Airline_GoAir  6.506907e-05
19                              Airline_SpiceJet  3.260464e-05
35               Additional_Info_1 Short layover  3.083101e-05
38               Additional_Info_Change airports  2.260636e-05
18     Airline_Multiple carriers Premium economy  8.902578e-06
30                             Destination_Delhi  4.679478e-06
22               Airline_Vistara Premium economy  2.554890e-06
40  Additional_Info_No check-in baggage included  1.423372e-06
42                Additional_Info_Red-eye flight  3.068944e-07
2                                           Year  0.000000e+00
20                                Airline_Trujet  0.000000e+00

In [38]:
import mlflow 
import mlflow.sklearn
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [45]:
mlflow.set_experiment("Flight_Price_Prediction")
mlflow.set_tracking_uri("http://127.0.0.1:5000")

for name, mp in model_params.items():
    # print(f"Training and Tuning Model: {name}")

    if mp["params"]:
        grid_search = GridSearchCV(mp["model"], mp["params"], cv=5, scoring="neg_mean_squared_error", n_jobs=-1)
        grid_search.fit(X_train, y_train)
        best_model = grid_search.best_estimator_
        best_params = grid_search.best_params_
        print(f"Best Parameters: {best_params}")
    else:
        best_model = mp["model"]
        best_model.fit(X_train, y_train)
        best_params = None

    # Predictions
    train_pred = best_model.predict(X_train)
    test_pred = best_model.predict(X_test)

    # Metrics Calculation
    train_mse = mean_squared_error(y_train, train_pred)
    train_mae = mean_absolute_error(y_train, train_pred)
    train_r2 = r2_score(y_train, train_pred)

    test_mse = mean_squared_error(y_test, test_pred)
    test_mae = mean_absolute_error(y_test, test_pred)
    test_r2 = r2_score(y_test, test_pred)

    # MLflow Logging
    with mlflow.start_run(run_name=name):
        if best_params:
            mlflow.log_params(best_params)
        elif hasattr(best_model, "get_params"):
            mlflow.log_params(best_model.get_params())

        mlflow.log_metrics({
            "train_mse": train_mse,
            "train_mae": train_mae,
            "train_r2": train_r2,
            "test_mse": test_mse,
            "test_mae": test_mae,
            "test_r2": test_r2
        })

        mlflow.sklearn.log_model(best_model, name)

2025/02/20 23:09:45 WARNING mlflow.utils.git_utils: Failed to import Git (the Git executable is probably not on your PATH), so Git SHA is not available. Error: Failed to initialize: Bad git executable.
The git executable must be specified in one of the following ways:
    - be included in your $PATH
    - be set via $GIT_PYTHON_GIT_EXECUTABLE
    - explicitly set via git.refresh(<full-path-to-git-executable>)

All git commands will error until this is rectified.

This initial message can be silenced or aggravated in the future by setting the
$GIT_PYTHON_REFRESH environment variable. Use one of the following values:
    - quiet|q|silence|s|silent|none|n|0: for no message or exception
    - warn|w|warning|log|l|1: for a warning message (logging level CRITICAL, displayed by default)
    - error|e|exception|raise|r|2: for a raised exception

Example:
    export GIT_PYTHON_REFRESH=quiet

2025/02/20 23:09:53 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

🏃 View run Linear Regression at: http://127.0.0.1:5000/#/experiments/503623167462717320/runs/c144eb13ba4d4fbd990fb4f63276f481
🧪 View experiment at: http://127.0.0.1:5000/#/experiments/503623167462717320
Best Parameters: {'max_depth': 15, 'min_samples_split': 10, 'n_estimators': 150}

2025/02/20 23:10:38 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

🏃 View run Random Forest at: http://127.0.0.1:5000/#/experiments/503623167462717320/runs/4b7cbfe8f46249a680f2f9d2ef4ae218
🧪 View experiment at: http://127.0.0.1:5000/#/experiments/503623167462717320
Best Parameters: {'learning_rate': 0.1, 'n_estimators': 150}

2025/02/20 23:10:53 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

🏃 View run Gradient Boosting at: http://127.0.0.1:5000/#/experiments/503623167462717320/runs/9456c377bad54c2d93db257ed98b1da1
🧪 View experiment at: http://127.0.0.1:5000/#/experiments/503623167462717320
Best Parameters: {'max_depth': 15, 'min_samples_split': 10}

2025/02/20 23:10:58 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

🏃 View run Decision Tree at: http://127.0.0.1:5000/#/experiments/503623167462717320/runs/6225ab6f0d604213a240230e1dd31424
🧪 View experiment at: http://127.0.0.1:5000/#/experiments/503623167462717320
Best Parameters: {'learning_rate': 0.1, 'n_estimators': 150}

2025/02/20 23:11:03 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

🏃 View run XGBoost at: http://127.0.0.1:5000/#/experiments/503623167462717320/runs/2c4d6a34abcc41e7b0e16adbe3ae77da
🧪 View experiment at: http://127.0.0.1:5000/#/experiments/503623167462717320

# Customer Satisifaction Prediction

In [59]:
import pandas as pd

In [36]:
df1 = pd.read_excel("C:/Users/Admin/OneDrive/Documents/Flight ML project/Passenger_Satisfaction.xlsx")

In [37]:
df1

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103900,103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103901,103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103902,103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103903,103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

In [38]:
df1.isna().sum()

Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

In [39]:
df1.dropna(inplace = True)

In [40]:
df1['satisfaction'].value_counts()

satisfaction
neutral or dissatisfied    58697
satisfied                  44897
Name: count, dtype: int64

In [41]:
df1['satisfaction'].value_counts(normalize = True)

satisfaction
neutral or dissatisfied    0.566606
satisfied                  0.433394
Name: proportion, dtype: float64

In [42]:
df1.drop('Unnamed: 0', axis = 1, inplace = True)

In [43]:
df1

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,2,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,1,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

In [44]:
df1.duplicated().sum()

0

In [45]:
df1['Customer Type'].unique()

array(['Loyal Customer', 'disloyal Customer'], dtype=object)

In [46]:
df1['Type of Travel'].unique()

array(['Personal Travel', 'Business travel'], dtype=object)

In [47]:
df1['Class'].unique()

array(['Eco Plus', 'Business', 'Eco'], dtype=object)

In [48]:
df1['satisfaction'].unique()

array(['neutral or dissatisfied', 'satisfied'], dtype=object)

In [49]:
from sklearn.preprocessing import LabelEncoder

model = LabelEncoder()

In [50]:
cat_columns = ['Gender', 'Customer Type', 'Type of Travel',	'Class', 'satisfaction']

for col in cat_columns:
    df1[col] = model.fit_transform(df1[col])

In [51]:
df1

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,1,0,13,1,2,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,0
1,5047,1,1,25,0,0,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,0
2,110028,0,0,26,0,0,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,24026,0,0,25,0,0,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,0
4,119299,1,0,61,0,0,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,94171,0,1,23,0,1,192,2,1,2,...,2,3,1,4,2,3,2,3,0.0,0
103900,73097,1,0,49,0,0,2347,4,4,4,...,5,5,5,5,5,5,4,0,0.0,1
103901,68825,1,1,30,0,0,1995,1,1,1,...,4,3,2,4,5,5,4,7,14.0,0
103902,54173,0,1,22,0,1,1000,1,1,1,...,1,4,5,1,5,4,1,0,0.0,0
103903,62567,1,0,27,0,0,1723,1,3,3,...,1,1,1,4,4,3,1,0,0.0,0

In [18]:
csv_path = "C:/Users/Admin/OneDrive/Documents/Flight ML project/customer_satisfaction_csv.csv"
df1.to_csv(csv_path)

In [86]:
filtered_data = df1[df1["satisfaction"].isin([1])]

sampled_data = filtered_data.sample(n=44897, random_state=42)

In [87]:
filtered_data1 = df1[df1["satisfaction"].isin([0])]

sampled_data1 = filtered_data1.sample(n=44897, random_state=42)

In [88]:
samples = pd.concat([sampled_data,sampled_data1])
csv_path = "C:/Users/Admin/OneDrive/Documents/Flight ML project/samples.csv"
samples.to_csv(csv_path)

In [67]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [89]:
pd.read_csv("C:/Users/Admin/OneDrive/Documents/Flight ML project/samples.csv")

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,44651,95699,1,0,33,0,0,3233,3,3,...,4,3,4,5,4,5,4,37,43.0,1
1,6050,102574,0,0,48,0,0,223,4,4,...,5,5,5,5,5,5,4,0,0.0,1
2,56908,100092,1,0,53,0,0,2569,5,5,...,4,4,5,4,4,4,3,61,69.0,1
3,44790,2455,1,0,60,0,0,1623,4,4,...,5,5,5,5,3,5,5,0,3.0,1
4,86585,9770,1,0,41,0,0,456,3,3,...,4,4,4,4,3,4,5,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89789,47864,38346,0,0,50,0,0,1050,3,1,...,3,3,3,3,4,3,4,0,0.0,0
89790,101294,30783,1,0,26,0,0,834,2,5,...,2,3,1,2,2,2,2,4,9.0,0
89791,30613,77469,1,0,32,1,1,507,2,1,...,4,4,3,3,3,4,4,5,10.0,0
89792,30809,4364,0,1,33,0,0,607,3,3,...,2,5,2,5,4,5,2,73,125.0,0
89793,25255,73951,0,0,53,0,0,2455,1,0,...,2,2,0,2,1,2,1,17,7.0,0

In [90]:
X = samples.drop("satisfaction", axis=1)
y = samples["satisfaction"]

In [91]:
print(samples["satisfaction"].value_counts())

satisfaction
1    44897
0    44897
Name: count, dtype: int64

In [92]:
from imblearn.under_sampling import RandomUnderSampler

rosee = RandomUnderSampler(random_state=42)
X_resampled, y_resampled = rosee.fit_resample(X, y)

print(pd.Series(y_resampled).value_counts())

satisfaction
0    44897
1    44897
Name: count, dtype: int64

In [93]:
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=42)

In [94]:
models = [LogisticRegression(random_state=42), XGBClassifier(random_state=42), DecisionTreeClassifier(max_depth=10, min_samples_split=20, min_samples_leaf=10,random_state=42),  RandomForestClassifier(n_estimators=50, max_depth=15, random_state=42, ), GradientBoostingClassifier(random_state=42)]

for model in models:
    
    model.fit(X_train, y_train)
    train_pred = model. predict(X_train)
    test_pred = model. predict(X_test)
    
    print (f"Model: {type(model).__name__}")
    
    print("*******Train*******")
    print (f"Accuracy Score: {accuracy_score(y_train, train_pred)}")
    print(f"Precision Score: {precision_score(y_train,train_pred)}")
    print(f"Recall score: {recall_score(y_train, train_pred )}")
    print(f"F1 Score: {f1_score(y_train, train_pred)}")
    print ("\n")
    
    print ("********Test********")
    print (f"Accuracy Score: {accuracy_score(y_test, test_pred) }")
    print(f"Precision Score: {precision_score(y_test, test_pred )}")
    print(f"Recall score: {recall_score(y_test, test_pred)}")
    print(f"F1 Score: {f1_score(y_test, test_pred )}")

    print(f"\nConfusion Matrix for {model}:\n", confusion_matrix(y_test, test_pred))
    print ("\n")

c:\Users\Admin\anaconda3\envs\Guvi_DS\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Model: LogisticRegression
*******Train*******
Accuracy Score: 0.7092921277928587
Precision Score: 0.669201350837564
Recall score: 0.8308435608374521
F1 Score: 0.7413133152476866


********Test********
Accuracy Score: 0.7067765465783172
Precision Score: 0.6611135857461025
Recall score: 0.8354159630755376
F1 Score: 0.7381141834095882

Confusion Matrix for LogisticRegression(random_state=42):
 [[5272 3804]
 [1462 7421]]


Model: XGBClassifier
*******Train*******
Accuracy Score: 0.9803020811582098
Precision Score: 0.986036580226449
Recall score: 0.9745099128116843
F1 Score: 0.9802393620735403


********Test********
Accuracy Score: 0.9614121053510775
Precision Score: 0.9696100917431193
Recall score: 0.951818079477654
F1 Score: 0.9606317105038914

Confusion Matrix for XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=42, ...):
 [[8811  265]
 [ 428 8455]]


Model: DecisionTreeClassifier
*******Train*******
Accuracy Score: 0.9501774900814366
Precision Score: 0.9591461170408538
Recall score: 0.9406897317709779
F1 Score: 0.9498282750403028


********Test********
Accuracy Score: 0.9455983072554152
Precision Score: 0.9535337310692978
Recall score: 0.935607339862659
F1 Score: 0.9444854821296664

Confusion Matrix for DecisionTreeClassifier(max_depth=10, min_samples_leaf=10, min_samples_split=20,
                       random_state=42):
 [[8671  405]
 [ 572 8311]]


Model: RandomForestClassifier
*******Train*******
Accuracy Score: 0.9807753880420408
Precision Score: 0.9876650989889887
Recall score: 0.9738157383239852
F1 Score: 0.9806915258028885


********Test********
Accuracy Score: 0.9554540898713737
Precision Score: 0.9666320286341069
Recall score: 0.9424743892829
F1 Score: 0.9544003647970816

Confusion Matrix for RandomForestClassifier(max_depth=15, n_estimators=50, random_state=42):
 [[8787  289]
 [ 511 8372]]


Model: GradientBoostingClassifier
*******Train*******
Accuracy Score: 0.9429665204983643
Precision Score: 0.9510216770765622
Recall score: 0.934358860443161
F1 Score: 0.9426166365533566


********Test********
Accuracy Score: 0.9429812350353584
Precision Score: 0.950889271371199
Recall score: 0.9329055499268265
F1 Score: 0.9418115694965337

Confusion Matrix for GradientBoostingClassifier(random_state=42):
 [[8648  428]
 [ 596 8287]]

In [85]:
import pickle

best_model = None
best_model_name = ""
best_accuracy = 0  

# Train, Evaluate, and Compare Models
for model in models:
    model.fit(X_train, y_train)
    test_pred = model.predict(X_test)

    model_name = model.__class__.__name__  
    accuracy = accuracy_score(y_test, test_pred)  

    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_model = model
        best_model_name = model_name

# Save the Best Model
if best_model:
    filename = f"best_model_{best_model_name.lower()}.pkl"
    with open(filename, "wb") as f:
        pickle.dump(best_model, f)
    print(f"\n Best Model: {best_model_name} saved as {filename} with Accuracy: {best_accuracy:.4f}")

c:\Users\Admin\anaconda3\envs\Guvi_DS\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

 Best Model: XGBClassifier saved as best_model_xgbclassifier.pkl with Accuracy: 0.9619

In [81]:
import mlflow
import mlflow.sklearn
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [86]:
mlflow.set_experiment("Customer_Satisfaction_Prediction")
mlflow.set_tracking_uri("http://127.0.0.1:5000")

    
models = [LogisticRegression(random_state=42), XGBClassifier(random_state=42), DecisionTreeClassifier(max_depth=10, min_samples_split=20, min_samples_leaf=10,random_state=42),  RandomForestClassifier(n_estimators=50, max_depth=15, random_state=42, ), GradientBoostingClassifier(random_state=42)]

for model in models:
        
    model.fit(X_train,y_train)
    train_pred = model. predict(X_train)
    test_pred = model. predict(X_test)


    accuracy = accuracy_score(y_test, test_pred)
    precision = precision_score(y_test, test_pred)
    recall = recall_score(y_test, test_pred)
    f1 = f1_score(y_test, test_pred)    

    model_name = model.__class__.__name__  # Extracts model name dynamically

        
    with mlflow.start_run(run_name=model_name):

        mlflow.log_metric("Accuracy", accuracy)
        mlflow.log_metric("Precision", precision)
        mlflow.log_metric("Recall", recall)
        mlflow.log_metric("F1 Score", f1)   
       
        mlflow.sklearn.log_model(model,model_name.lower())
        cm = confusion_matrix(y_test, test_pred)

        print(f"{model_name} logged in MLflow | Accuracy: {accuracy:.4f}")

c:\Users\Admin\anaconda3\envs\Guvi_DS\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
2025/02/22 19:13:46 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

LogisticRegression logged in MLflow | Accuracy: 0.6734
🏃 View run LogisticRegression at: http://127.0.0.1:5000/#/experiments/534060805149892421/runs/b586acb6b4f84a559f3a8e172cec4ccf
🧪 View experiment at: http://127.0.0.1:5000/#/experiments/534060805149892421

2025/02/22 19:14:38 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

XGBClassifier logged in MLflow | Accuracy: 0.9619
🏃 View run XGBClassifier at: http://127.0.0.1:5000/#/experiments/534060805149892421/runs/2abe561cd3c74ea1993a12e37fc9115c
🧪 View experiment at: http://127.0.0.1:5000/#/experiments/534060805149892421

2025/02/22 19:15:06 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

DecisionTreeClassifier logged in MLflow | Accuracy: 0.9453
🏃 View run DecisionTreeClassifier at: http://127.0.0.1:5000/#/experiments/534060805149892421/runs/dc487af89c934a169788e733482ad0c8
🧪 View experiment at: http://127.0.0.1:5000/#/experiments/534060805149892421

2025/02/22 19:15:58 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

RandomForestClassifier logged in MLflow | Accuracy: 0.9561
🏃 View run RandomForestClassifier at: http://127.0.0.1:5000/#/experiments/534060805149892421/runs/fafea119a4f64811bd3df888cd440157
🧪 View experiment at: http://127.0.0.1:5000/#/experiments/534060805149892421

2025/02/22 19:18:06 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

GradientBoostingClassifier logged in MLflow | Accuracy: 0.9425
🏃 View run GradientBoostingClassifier at: http://127.0.0.1:5000/#/experiments/534060805149892421/runs/df1d2d1c1b1d47dc9636452d800a0890
🧪 View experiment at: http://127.0.0.1:5000/#/experiments/534060805149892421

In [84]:
feature_importances = model.feature_importances_
feature_names = X.columns  # Get feature names from the DataFrame

# Create a DataFrame to display feature importance
importance_df = pd.DataFrame({
    'Feature': feature_names,
    'Importance': feature_importances
}).sort_values(by='Importance', ascending=False)

print(importance_df.head(10))

                   Feature  Importance
12         Online boarding    0.353765
7    Inflight wifi service    0.256982
4           Type of Travel    0.140486
5                    Class    0.104618
14  Inflight entertainment    0.042134
2            Customer Type    0.029104
16        Leg room service    0.017530
18         Checkin service    0.016965
15        On-board service    0.007693
13            Seat comfort    0.006259